@import './base.css';
@import 'chota';

:root {
  --color-primary: #0ac18f;
  --toggle-height: 1.7rem;
}

#app {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}
header{
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

.primaryButton {
  background-color: var(--color-primary); 
  color: white;
}
.icon {
  vertical-align: text-bottom;
}
.tokenButton {
  margin-left: 40px;
  cursor: pointer;
}
.copyIcon{
  vertical-align: text-bottom;
  margin-bottom: 1px;
}
.copyIcon:hover{
  cursor: pointer;
}
.depositAddr, .tokenId {
  overflow-wrap: anywhere;
  color: var(--color-grey);
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    margin-top: 30px;
  }

  #app {
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    padding: 0 2rem;
  }
}
